<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sms Sender</title>
  </head>
  <body>
    <h1>Welcome To SMS Sender</h1>
    <form action="/sendMessage" method="post">
      <div>
        <label for="number">Enter Number</label>
        <input type="text" , name="number" />
      </div>
      <div>
        <label for="message">Enter Message</label>
        <input type="text" , name="message" id="message" />
      </div>
      <input type="submit" value="Send Message" />
    </form>
  </body>
</html>
